.login {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .login li {
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  
  .login li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  
  .login a {
    color: #888;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
  }
  
  .login a:hover {
    color:#607D8B;
  }  
  
  button {
    background-color: green;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button.delete {
    position: relative;
    left: 194px;
    top: -32px;
    background-color: gray !important;
    color: white;
  }
  
  